<div class="container mt-5">
  <h1 class="text-center mb-4">Catálogo de Livros</h1>
  
  <div class="card mb-4">
    <div class="card-body">
      <h2 class="card-title h4">Adicionar Livro</h2>
      <div class="form-group mb-3">
        <input class="form-control" [(ngModel)]="newBook.title" placeholder="Título" />
      </div>
      <div class="form-group mb-3">
        <input class="form-control" [(ngModel)]="newBook.author" placeholder="Autor" />
      </div>
      <div class="form-group mb-3">
        <input class="form-control" [(ngModel)]="newBook.publicationYear" type="number" placeholder="Ano" />
      </div>
      <button class="btn btn-primary" (click)="addBook()">Adicionar</button>
    </div>
  </div>

  <h2 class="h4 mb-3">Lista de Livros</h2>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let book of books">
      {{ book.title }} - {{ book.author }} ({{ book.publicationYear }})
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>